{% extends "base.html" %}

{% load static %}

{% block title %}Log-in{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{% static 'masterlist/Login.css' %}">
<div class="login-box">
	<img id="sena-logo" src="{% static 'masterlist/logo.png' %}">
	<h2>SHIELDS Log-in</h2>
	{% if form.errors %}
	<div id="error-messages">
		{% for field, errors in form.errors.items %}
			{% for error in errors %}
				{{ error }}
			{% endfor %}
		{% endfor %}
	</div>
	{% endif %}
	<form method="post">
	{% csrf_token %}
		<div class="box">
			<input type="text" name="username" placeholder="Username" value="{{ form.username.value|default_if_none:'' }}" {% if not form.username.value %}{{ 'autofocus' }}{% endif %} required >
		</div>
		<div class="box">
			<input id="password" type="password" name="password" placeholder="Password" required {% if form.username.value %}{{ 'autofocus' }}{% endif %}>
			<i id="icon" class="fas fa-eye-slash" onclick="toggleEye()"></i>
		</div>
		<input type="submit" value="Login">
	</form>
</div>
<script src="{% static 'masterlist/Login.js' %}"></script>
{% endblock %}