{% extends "base.html" %}

{% block title %}History{% endblock %}

{% block content %}

<a href="{% url 'index' %}"><button>Menu</button></a>
<form action="" method="POST">
{% csrf_token %}
	<input type="search" name="search" value="" placeholder="Search History" required>
	<input type="submit" value="Search">
	<select id="" name="">
		<option value=""></option>
	</select>
</form>
{% if history %}
<table id="history_list">
	<tr>
		<th>Timestamp</th>
		<th>Short Description</th>
		<th>History ID</th>
	</tr>
	{% for entry in history %}
	<tr>
		<td>
			<a href="">{{ entry.history_timestamp }}</a>
		</td>
		<td>
			{{ entry.history_short_desc }}
		</td>
		<td>
			{{ entry.history_id }}
		</td>
	</tr>
	{% endfor %}
</table>
{% endif %}

{% endblock %}