{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="windows-1250">
	<title>{% block title %}SHIELDS{% endblock %}</title>
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'masterlist/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'masterlist/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'masterlist/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'masterlist/site.webmanifest' %}">
	<link rel="stylesheet" href="{% static 'masterlist/base.css' %}">
</head>
<body>
	<main>
	{% if user.is_authenticated %}
	<header class="site-header">
		<img class="logo" src="{% static 'masterlist/sena_logo.png' %}">
		<div class="header-text">
			<h1 class="association-name">SALAMAT EXTENSION NEIGHBORHOOD ASSOCIATION</h1>
			<p class="address">Salamat Extension, Ampid 2, San Mateo, Rizal 1850</p>
		</div>
		<div class="actions">
			<a href="{% url 'logout' %}"><button class="logout-button">Log Out</button></a>
			<a href="{% url 'admin:index' %}"><button class="admin-button">Admin Site</button></a>
		</div>
	</header>
	{% endif %}
	{% if messages %}
		{% for message in messages %}
			<div class="message {% if message.tags == 'error' %}error{% elif message.tags == 'success' %}success{% else %}info{% endif %}">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
	
	{% block content %}
	{% endblock %}
	</main>
</body>
</html>